{% extends 'app/base.html' %}
{% block js %}
 <script>
    function eliminarProducto(id){
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/eliminarProducto/" + id + "/";
            }
        })
    }
 </script>
{% endblock %}
{% block contenido %}
{% load humanize %}

<br><br>
<div class="card">
    <div class="card body">
        <h2>Nuestros productos</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Estado</th>
        <th> Opciones</th>
        
    </tr>
    {% for p in entity %}
    <tr>
        <td>{{p.nombre | title}}</td>
        <td>${{p.precio | intcomma }}</td>
        <td>{{p.marca | title}}</td>
        <td>
            {% if p.nuevo %}
                <span class="badge bg-success">Nuevo</span>
            {% else %}
                <span class="badge bg-danger">Usado</span>
            {% endif %}
        </td>
        <td>
            {% if perms.app.change_producto %}
            <a href="{% url 'modificar_Producto' p.id %}" class=" btn btn-warning btn-sm">Modificar</a>
            {% endif %}
            {% if perms.app.delete_producto %}
            <a href="#" onclick="eliminarProducto({{ p.id }}); return false;" class="btn btn-danger btn-sm">Eliminar</a>
            {% endif %}
            
        </td>
    </tr>
    {%endfor %}
</table>
</div>
<br>
{% include 'app/paginator.html' %}
</div>

{% endblock %}