{% extends 'app/base.html' %}
{% load static %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="{% static 'app/js/traducciones.js' %}"></script>
    <script src="{% static 'app/js/formulario_jquery.js' %}"></script>
{% endblock %}
{% block contenido %} 
<div  id="contenido">
        <div class="contenido-contacto">
            <div class="titulos"><h2>Formulario de contacto</h2>
            <h6>Rellena los siguientes datos: </h6>
        </div>
        <form action="" id="formulario_contacto" method = "post">
            {% csrf_token %}
            {{form }}
        <input type="reset" value="Limpiar">
        <button type="submit" id="guardar">Guardar</button>
        </form>
        {{mensaje}}
        </div>
    </div>
    
{% endblock %}