body{
    
    background-image: linear-gradient(180deg, #EDF2F7 50%, rgb(184, 222, 255));
    background-position: 0 50%;
    background-size: 100% 120%;
    padding-top: 70px;
}
.navbar-nav{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;

}
.d-flex-nav{
display:flex;
justify-content: flex-end;
margin-right:30px;
height: 100%; 

}
#contenido{
  width: 80%;
  margin: 10px auto;
  min-height: 100vh;
}
.productos{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
 
  }
  
.productos  .producto {
  width:25%;
  margin-top:10px;
  margin-bottom:10px;
  display:flex;
  flex-direction: column;
}
.productos > .producto img {
  width:100%;
  height: 200px;
  object-fit:cover;

}
.productos .producto .contenedor{
  width: 80%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 3%;
  flex-grow:1;
  
  

}
.productos .producto .contenedor  .detalles{
  padding: 10px;
  
}
.detalles{
  font-family: "PT Serif", serif;

}
.carousel-item{
  height: 30rem; 
  
}
.carousel-inner{
  
  background: black;  
  
}
.d-block{
   position: center;
  object-fit:cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0.8;
} 
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Cambia cover por contain */
  background: #fff;    /* Opcional: fondo blanco para las bandas */
  display: block;
  margin: 0 auto;
}
.obras{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:30px;
}
.obras img{
  width:100%;
  height:200px;
  object-fit:cover;

}
#titulo_obras{
  font-family: "PT Serif", serif;
  padding-bottom: 5px;
  
}
.contenido-contacto{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding:5%;
  display:flex;
  align-items: flex-start;

}
.titulos{
  font-family: "PT Serif", serif;
  padding-bottom: 20px;
  
}
.obras a{
  
  text-decoration: none;
  color:inherit;
  font-family: "PT Serif", serif;
  
}
.contenidos-obras{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding:5%;
  
}
.contenidos-obras img {
  max-width:500px;
  
  height:500px;
  object-fit:cover;
  float:inline-start;
  margin-right: 5px;
}
#formulario_contacto {
  max-width: 400px;
  margin: 0 auto;
}

#formulario_contacto label {
  display: block;
  margin-top: 10px;
}

#formulario_contacto input[type="text"], 
#formulario_contacto input[type="email"], 
#formulario_contacto select, 
#formulario_contacto textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

#formulario_contacto textarea {
  resize: vertical; /* Permite solo el cambio de tamaño vertical */
}

#formulario_contacto input[type="checkbox"] {
  margin-top: 15px;
}

#formulario_contacto button,
#formulario_contacto input[type="reset"] {
  margin-top: 15px;
  padding: 10px 15px;
}
#boton-compra{
  float:inline-end;
}
l.error {
  color:red;
}
input.error, select.error, textarea.error{
  border: 1px solid red;
}
.encabezado {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid #797979;
}

/*MEDIA QUERIES*/ 

/*TABLET*/
@media (max-width: 1024px){
  .productos .producto{
    width:50%
  }
  .obras{
    grid-template-columns: 1fr 1fr;
  }
}
/*SMARTPHONE*/
@media (max-width: 480px)
{
  .productos .producto{
    width:100%
  }
  .obras{
    grid-template-columns: 1fr ;
  }
}

.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
  position: absolute;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
  top: 0;
  left: 100%;
}


.dropdown-menu > .dropend {
  position: relative;
}
